*{
	margin: 0%;
	padding: 0%;
	box-sizing: border-box;
	
}
body{

	font-family: poppins,sans-serif	;
}


.cfirst-first{
	text-align: center;
	font-size: 50px;
	font-weight: bold;
	margin-top: 44px;

}
.cfirst-second{
	text-align: center;
	font-weight: 600;
	font-size: 20px;
	margin-bottom: 25px;
}


.csecond{
	display: flex;
	margin-inline: 22px;
}
.csecond-first{
	margin-left:55px
	
}
.csecond-second{
	margin-top: 180px;
	margin-left: 122px;
}
.csecond-third{
	font-weight: bold;
	font-size:35px;

}


.cthird{
	background-color:rgb(224, 223, 223, 1.0);
	height: 240px;
}
.cthird-first{
	text-align: center;
}


.cfour{
	display: flex;
	margin-top:66px;
	margin-inline: 44px;
	margin-left: 65px;

}


.cfive{
	display: flex;
	margin-top: 55px;
	margin-inline: 44px;
}
